<section class="mt-5 " >
    <div class="container bg-light my-5 ">
        <div class="row mb-2">

            <div class="col text-center ">
              <h5 class="text-secondary my-5 ">LATEST UPDATED POST?</h5>
              <h1 class="text-secondery"> <strong>UPDATEDS </strong> <b>NEWS</b> </h1>
        </div> </div>
        
<owl-carousel [options]="slideOptions" [carouselClasses]="['owl-theme', 'sliding']">

        <div class="item" *ngFor="let element of carouselElements">
      <div>

        <div class="card my-5 mx-2">
            <img  [src]='element.image' class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <a href="#" class="btn btn-primary btn-left">{{element.badge}}</a>
                </div>
            <div class="card-body">
             <a routerLink=""> <h5 class="card-title">{{element.title}}</h5></a>
              <p class="card-text">{{element.description}}</p>
            
            </div>
          </div>

      
      </div>
    </div>
</owl-carousel>
</div>
</section>