
<footer class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-4 text-center">
         <a  class="text-white text-capitalize font-weight-light p-3 " routerLink="/">My company</a>
          <h3 class="text-light font-weight-light font-italic mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Obcaecati eius culpa quam eligendi amet quaerat unde molestias nostrum eum,
             fuga laborum et tempore perferendis, delectus ut neque blanditiis! Incidunt, repellat.
           </h3>
           <div py-2>
             <a href="#"><i class="fa fa-facebook fa-2x text-primary mx-3" ></i></a>
             <a href="#"><i class="fa fa-google-plus fa-2x text-danger mx-3"></i></a>
             <a href="#"><i class="fa fa-twitter fa-2x text-info mx-3"></i></a>
       
          
           </div>
           <p class="text-light py-4 m-0">&copy;Copyright 2020 by Kaouthar El ouatri</p>
        </div>
        <div class="col-4 text-center">
          <a  class="text-white text-capitalize font-weight-light p-3 " routerLink="/">My company</a>
           <h3 class="text-light font-weight-light font-italic mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Obcaecati eius culpa quam eligendi amet quaerat unde molestias nostrum eum,
              fuga laborum et tempore perferendis, delectus ut neque blanditiis! Incidunt, repellat.
            </h3>
            <div py-2>
              <a href="#"><i class="fa fa-facebook fa-2x text-primary mx-3" ></i></a>
              <a href="#"><i class="fa fa-google-plus fa-2x text-danger mx-3"></i></a>
              <a href="#"><i class="fa fa-twitter fa-2x text-info mx-3"></i></a>
        
           
            </div>
            <p class="text-light py-4 m-0">&copy;Copyright 2020 by Kaouthar El ouatri</p>
         </div>
         <div class="col-4 text-center">
          <a  class="text-white text-capitalize font-weight-light p-3 " routerLink="/">My company</a>
           <h3 class="text-light font-weight-light font-italic mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Obcaecati eius culpa quam eligendi amet quaerat unde molestias nostrum eum,
              fuga laborum et tempore perferendis, delectus ut neque blanditiis! Incidunt, repellat.
            </h3>
            <div py-2>
              <a href="#"><i class="fa fa-facebook fa-2x text-primary mx-3" ></i></a>
              <a href="#"><i class="fa fa-google-plus fa-2x text-danger mx-3"></i></a>
              <a href="#"><i class="fa fa-twitter fa-2x text-info mx-3"></i></a>
        
           
            </div>
            <p class="text-light py-4 m-0">&copy;Copyright 2020 by Kaouthar El ouatri</p>
         </div>
      </div>
    </div>

  </footer>