
<section>
<footer class="bg-secondary " routerLink="/" >
    <div class="container">
      <div class="row">
        <div class="col-4 text-center p-5">
          <a class="navbar-brand text-danger " id="col"  >
   
            <img src="assets/image/virus1.jpg" class="img-fluid rounded-circle mx-auto" style="width:40px; height:40px ">
           <strong>Covid-19</strong> </a>
          <h3 class="text-light font-weight-light font-italic p-3 mb-3">Most people infected with the COVID-19 virus 
            will experience mild to moderate respiratory illness and recover without requiring special treatment.
           </h3>
           <div py-2>
             <a href="#"><i class="fa fa-facebook fa-2x text-primary mx-3" ></i></a>
             <a href="#"><i class="fa fa-google-plus fa-2x text-danger mx-3"></i></a>
             <a href="#"><i class="fa fa-twitter fa-2x text-info mx-3"></i></a>
          
           </div>
           
        </div>
        <div class="col-4 text-center p-5">
          <a  class="text-white text-capitalize font-weight-light p-3 mb-3 " ><strong>COVID-19 RESPONSE</strong></a>
           <h3 class="text-light font-weight-light font-italic mb-3">  Emergency Call: </h3>
           <h3 class="text-light font-weight-light font-italic mb-3">  Mail Us:
            info@coronica.com  </h3>
           <h3 class="text-light font-weight-light font-italic mb-3">  +4256 121 289 </h3>
           <h3 class="text-light font-weight-light font-italic mb-3">   Contact Address:
            6265 Brockport 
            SpencerportRd,
             Brockport NY 14420 </h3>
 
         </div>
         <div class="col-4 text-center p-5">
          <a  class="text-white text-capitalize font-weight-light p-5 " ><strong>IMPORTANT LINK</strong>  </a>
           <h3 class="text-light font-weight-light font-italic mb-3">About Corona </h3>
           <h3 class="text-light font-weight-light font-italic mb-3">Symptoms </h3>
           <h3 class="text-light font-weight-light font-italic mb-3"> Prevention </h3>
           <h3 class="text-light font-weight-light font-italic mb-3">  Protect Yourself </h3>
           <h3 class="text-light font-weight-light font-italic mb-3">    Faq </h3>
         
         </div>
      </div>
      <p class="text-light text-center py-4 m-0">&copy;Copyright 2020 by Kaouthar El ouatri</p>
    </div>

  </footer>
</section>