
<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/" > Covid-19</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/aboutCorona" routerLinkActive="active" >About Corona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/preventions" routerLinkActive="active">Preventions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/symptoms" routerLinkActive="active">Symptoms</a>
      </li>
     
      <!-- Dropdown -->
      <li class="nav-item dropdown  " >
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Contact
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item"  routerLink="/register">Register</a>
          <a class="dropdown-item"  routerLink="/login">Login</a>
          
        </div>
      </li>
    </ul>
  </nav>