

   <div class="container-fluid bg-light my-2 mx-2  ">
 <a retourLink="/preventions">
   <div class="row">
   <div class="col-lg-4 col-sm-10 text-center">
    <div class="card zoom " style="width:400px; height:300px">
      <img class="card-img-top img-fluid rounded-circle mx-auto my-2 d-block" src="assets/image/{{prevention.image}}" alt="Card image"  style="width:25%">
      <div class="card-body">
        <h4 class="card-title text-danger">{{prevention.name | titlecase}}</h4>
        <p class="card-text text-justify text-secondary">{{prevention.description}}</p>
      </div>
      </div>
    </div>
    </div>
  </a>
</div>
