.bg{
    background-image: url("src/assets/image/coronavirus-3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-play {
    height: 74px;
    width: 74px;
    border-radius: 50%;
 
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}