.bg{
    background-image: url("src/assets/image/coronavirus-3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.btn{
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.cl{
    color:#d10000;
    }