
<section class="p-5 ">
  <div class="container-fluid my-5 ">
    <div class="row mt-5">

      <div class="col text-center ">
        <h5 class="text-secondary my-3">HOW TO PROTECT YOURSELF?</h5>
        <h1 class="text-secondery"> <strong> PREVENTION OF </strong> <b>CORONAVIRUS</b> </h1>
        <div class="txt">
          <p class="lead text-secondery ">Stay aware of the latest information on the COVID-19 outbreak,
        </p>
               <p class="lead text-secondery "> available on the WHO website and through your national and local public health authority. </p>
               <p class="lead text-secondery ">  Most people who become infected experience mild illness and recover, but it can be more severe for others. </p>
               <p class="lead text-secondery ">   Take care of your health and protect others by doing the following. </p>
     </div>
        


      </div>
    </div>
    <!-- END OF titels-->





<div class="row">
    <div class="col-lg-4 col-sm-10 mx-auto" *ngFor='let prevention of preventions'>
      <app-prevention [prevention]="prevention"></app-prevention>
    </div>
  </div>
  </div>
  </section>