<section>
    <div class="container">
        <div class="row mb-4">

            <div class="col text-center">
              <h5 class="text-primary my-3">FREQUENTLY ASKED QUESTIONS</h5>
              <h1 class="text-secondery"> <strong> COMMON  </strong> <b>QUESTION & ANSWER</b> </h1>

      
            </div>
          </div> 
          <div class="row">
          <div class="col-lg-6 col-md-6 col-xd-12">
          <div class="dropdown dropright">
            <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown">
             coronavirus diseases 2019 Basics
            </button>
            </div>
            <div class="dropdown dropright">
                <button type="button" class="btn btn-primary my-2 dropdown-toggle" data-toggle="dropdown">
                 coronavirus diseases 2019 Basics
                </button>
                </div>
                <div class="dropdown dropright">
                    <button type="button" class="btn btn-primary my-2 dropdown-toggle" data-toggle="dropdown">
                     coronavirus diseases 2019 Basics
                    </button>
                    </div>
                    <div class="dropdown dropright">
                        <button type="button" class="btn btn-primary my-2 dropdown-toggle" data-toggle="dropdown">
                         coronavirus diseases 2019 Basics
                        </button>
                        </div>
          </div>
        <div class="col-lg-6 col-md-6 col-xd-12">
        <div id="accordion">
          <div class="card ">
            <div class="card-header p-3 p-3">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Who is most at risk for the coronavirus disease?
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus.

                WHO advises people of all ages to take steps to protect themselves from the virus, for example by following good hand hygiene and good respiratory hygiene.
                
                www.who.int › diseases › novel-coronavirus-2019 › advice-for-public
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-3 p-3">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                What is the recovery time for the coronavirus disease?
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                The vast majority of people who catch COVID-19 will make a complete recovery. But this brings new uncertainties about how quickly we can expect to regain health and what our ongoing social responsibilities might be.

                Talk of recovery might seem premature for Europe and the US, who are entering the virus’ peak phase, but the first wave of convalescents is coming through. Chris Gough, an anaesthetist from Oxford, UK, was one of these thousands, tweeting about emerging from this frightening experience: “Day 6: Feeling a little better. Or, thought I was, but then fell asleep on the sofa for an hour. Still no desire to leave the house. Hoping tomorrow will bring much more energy.”
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-3 p-3">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Is coughing a symptom of the coronavirus disease?
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-3 p-3">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                What is the treatment for the coronavirus disease?
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Currently, no antiviral medication is recommended to treat COVID-19. If you have mild symptoms, your doctor may recommend that you recover at home. He or she may give you special instructions to monitor your symptoms and to avoid spreading the illness to others. You may be asked to isolate yourself as much as possible from family and pets while you're sick and to use a separate bedroom and bathroom. Your doctor will likely recommend that you stay home for a period of time except to get medical care. Your doctor will likely follow up with you regularly.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
