


<div class="container my-5 ">   
    <div class="mt-5 ">
  <div class=" text-center  ">
 
    <h4 class="  text-secondary p-3"><strong>FREQUENTLY ASKED QUESTIONS </strong> </h4> 

    <h1 class="mb-5"> <strong class="text-secondary">COMMON </strong> <b>QUESTION & ANSWER</b> </h1>
    
    </div>
</div>
    <div class="row mb-4">
            <div class="col-sm-6">
                <div class="toggle mb-3 "><h3><span class="plus">+</span><a href="#">Who is most at risk for the coronavirus disease?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with the virus.

                                  WHO advises people of all ages to take steps to protect themselves from the virus, for example by following good hand hygiene and good respiratory hygiene.
                                  
                                  www.who.int › diseases › novel-coronavirus-2019 › advice-for-public</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">What is the recovery time for the coronavirus disease?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">The vast majority of people who catch COVID-19 will make a complete recovery. But this brings new uncertainties about how quickly we can expect to regain health and what our ongoing social responsibilities might be.

                                  Talk of recovery might seem premature for Europe and the US, who are entering the virus’ peak phase, but the first wave of convalescents is coming through. Chris Gough, an anaesthetist from Oxford, UK, was one of these thousands, tweeting about emerging from this frightening experience: “Day 6: Feeling a little better. Or, thought I was, but then fell asleep on the sofa for an hour. Still no desire to leave the house.
                                   Hoping tomorrow will bring much more energy.”</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">What is the treatment for the coronavirus disease?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">Currently, no antiviral medication is recommended to treat COVID-19.
                                   If you have mild symptoms, your doctor may recommend that you recover at home.
                                    He or she may give you special instructions to monitor your symptoms and to avoid spreading the illness to others.
                                     You may be asked to isolate yourself as much as possible from family and pets while you're sick and to use a separate bedroom and bathroom.
                                      Your doctor will likely recommend that you stay home for a period of time except to get medical care.
                                   Your doctor will likely follow up with you regularly.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">Should I wash my hands frequently?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.

                                  Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
      <div class="col-sm-6">
                <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">What should I do having symptoms of COVID-19?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">Not everyone with a SARS-CoV-2 infection will feel ill.
                                   Some people may even contract the virus and not develop symptoms.
                                    When there are symptoms, they’re usually mild and tend to come on slowly.

                                  COVID-19 seems to cause more severe symptoms in older adults and people with underlying health conditions,
                                   such as chronic heart or lung conditions.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">What is being done to find an effective treatment?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">Vaccines and treatment options for COVID-19 are currently being investigated around the world.
                                   There’s some evidence that certain medications may have the potential to be effective with regard to preventing illness or treating the symptoms of COVID-19.

                                  However, researchers need to perform randomized controlled trialsTrusted Source in humans before potential vaccines and other treatments become available. This may take several months or longer.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">How does COVID-19 spread?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">People can catch COVID-19 from others who have the virus. 
                                  The disease can spread from person to person through small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or exhales. These droplets land on objects and surfaces around the person. Other people then catch COVID-19 by touching these objects or surfaces, then touching their eyes, nose or mouth.
                                   People can also catch COVID-19 if they breathe in droplets from a person with COVID-19 who coughs out or exhales droplets.
                                    This is why it is important to stay more than 1 meter (3 feet) away from a person who is sick.

                                  WHO is assessing ongoing research on the ways COVID-19 is spread and will continue to share updated findings.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="toggle mb-3"><h3><span class="plus">+</span><a href="#">What makes you special from others?</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or speaks.
                                   These droplets are too heavy to hang in the air. They quickly fall on floors or surfaces.
                                   
                            You can be infected by breathing in the virus if you are within 1 metre of a person who has COVID-19, or by touching a contaminated surface and then touching your eyes, nose or mouth before washing your hands.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
 
