<div class="container my-5 ">   
    <div class="mt-5 ">
  <div class=" text-center  ">
 
    <h4 class="  text-secondary p-5 mt-5"><strong>FREQUENTLY ASKED QUESTIONS </strong> </h4> 

    <h1 class="mb-5"> <strong class="text-secondary">COMMON </strong> <b>QUESTION & ANSWER</b> </h1>
    
    </div>
</div>
    <div class="row mb-4">
            <div class="col-sm-6" *ngFor = " let faq of faqs">
                <div class="toggle mb-3 "><h3><span class="plus">+</span><a href="#">{{faq.question}}</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-justify">{{faq.answer}}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
                </div>
            </div>
            
    </div>