<section class="p-5">
  <div class="container-fluid">
    <div class="row mb-4">

      <div class="col text-center">
        <h5 class="text-primary my-3">WHAT ARE THE SYMPTOMS OF COVID-19?</h5>
        <h1 class="text-secondery"> <strong> SYMPTOMS OF </strong> <b>CORONAVIRUS</b> </h1>
        <p class="lead text-secondery ">People may be sick with the virus for 1 to 14 days before developing symptoms.
          The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness,
          and dry cough. Most people (about 80%) recover from the disease without needing special treatment.
        </p>
      </div>
    </div>
    <!-- END OF titels-->
    <div class="row">
      <div class="col-lg-4 col-sm-10" *ngFor='let symptom of symptoms'>
        <symptom [symptom]="symptom"></symptom>
      </div>
    </div>
  </div>
</section>